This gets the DataFrame as backend for Visualization. For now, this completes everything for July.

## Getting and saving the cleaned twitter data
* We get the necessary columns for the twitter data from the  .json files by running the code on the cluster and saving the dataframes as parquet.
* The code to get the data is in cleaned_twitter.py

In [2]:
import os
import sys

spark_path = os.environ["SPARK_PATH"]
os.environ['SPARK_HOME'] = spark_path
os.environ['HADOOP_HOME'] = spark_path

sys.path.append(spark_path + "/bin")
sys.path.append(spark_path + "/python")
sys.path.append(spark_path + "/python/pyspark/")
sys.path.append(spark_path + "/python/lib")
sys.path.append(spark_path + "/python/lib/pyspark.zip")
sys.path.append(spark_path + "/python/lib/py4j-0.9-src.zip")

In [3]:
import pandas as pd
import os
from tqdm import tqdm
from pyspark import SparkConf, SparkContext
import pyspark.sql
from pyspark.sql.types import *
from pyspark.sql import SQLContext
import time

conf = SparkConf().setAppName("ADA-gcl")
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)
#sqlContext.setConf("spark.sql.parquet.compression.codec", "snappy")

## Load the paqueret data

## DataFrames
* df1: num_followings, num_followers, mentions
* df2: gender, geo_state
* df3: language, sentiment, location, main, date,

In [4]:
path_user_info = 'file:///Users/tbfang/Documents/EPFL/ADA/ADA-Project/twitter_data/twitter_user_info_jul.parquet'
df1 = sqlContext.read.parquet(path_user_info)

path_gender = 'file:///Users/tbfang/Documents/EPFL/ADA/ADA-Project/twitter_data/twitter_gender_jul.parquet'
df2 = sqlContext.read.parquet(path_gender)

path_sentiment = 'file:///Users/tbfang/Documents/EPFL/ADA/ADA-Project/twitter_data/twitter_cleaned_jul.parquet'
df3 = sqlContext.read.parquet(path_sentiment)

In [5]:
df1 = df1.toPandas()
df2 = df2.toPandas()
df3 = df3.toPandas()

In [6]:
print(df1.shape[0], df2.shape[0], df3.shape[0])

795026 795026 795026

In [7]:
orig_df = df1.merge(df2,on='id').merge(df3,on='id')

In [8]:
df = df1.merge(df2,on='id').merge(df3,on='id')

In [9]:
orig_df.count()

id               795026
num_followers    795026
num_following    794949
mentions         285388
canton           486388
gender           795012
language         795026
sentiment        700562
location         777684
main             795026
date             795026
dtype: int64

In [10]:
df.mentions.fillna("",inplace=True)

## Analyzing DF
* 28/80, ~35% haveinfo about chatters
* 48/80, ~60% have cantons > 50%, pretty good!
* 70/80, ~87.5% have sentiment

### DataFrame Transformations
* DONE mentions -> number
* DONE parse date into month and time of day (6am to 6pm) (6pm to 6am) is night

### converting date

In [11]:
def month(iso_time):
    time_struct = time.strptime(iso_time, "%Y-%m-%dT%H:%M:%SZ")
    return time_struct.tm_mon

In [12]:
def time_of_day(iso_time):
    time_struct = time.strptime(iso_time, "%Y-%m-%dT%H:%M:%SZ")
    hour = time_struct.tm_hour
    if 6 <= hour < 18:
        return "Day"
    else:
        return "Night"

In [13]:
df['num_mentions'] = df.mentions.apply(len)
df['time_of_day'] = df.date.apply(time_of_day)
df['month'] = df.date.apply(month)

In [14]:
df.head()

,id,num_followers,num_following,mentions,canton,gender,language,sentiment,location,main,date,num_mentions,time_of_day,month
0,1467359435565400044,66,89.0,[Urs_Buhler],None,FEMALE,en,NEGATIVE,Svizzera,@Urs_Buhler and hear then you deserve so much ...,2016-07-01T07:46:46Z,1,Day,7
1,1467365796334500043,66,89.0,[Urs_Buhler],None,FEMALE,en,POSITIVE,Svizzera,"@Urs_Buhler can not be bought, and we must alw...",2016-07-01T09:35:26Z,1,Day,7
2,1467359036377100186,66,89.0,[Urs_Buhler],None,FEMALE,en,POSITIVE,Svizzera,"@Urs_Buhler In that, there's always someone wh...",2016-07-01T07:41:32Z,1,Day,7
3,1467366116249400147,66,89.0,[Urs_Buhler],None,FEMALE,en,POSITIVE,Svizzera,@Urs_Buhler Am I wrong? So bravo Urs. Let me g...,2016-07-01T09:37:31Z,1,Day,7
4,1467365778307300193,66,89.0,[Urs_Buhler],None,FEMALE,en,POSITIVE,Svizzera,@Urs_Buhler I consider every person in this wo...,2016-07-01T09:34:21Z,1,Day,7

## Tweet Level

In [15]:
df_author = df.drop(['mentions','location','main','date','num_mentions'],axis=1)
df.drop(['mentions','location','main','date','num_followers','num_following'],axis=1,inplace=True)
df.dropna(inplace=True)
# keeps 48/80 = 60% of data
# keeps only gender is known

## Cleaning up Cantons

Currently, there are 170 "cantons" from geo_state, that needs to be cleaned...

In [16]:
len(pd.DataFrame(df['canton'].unique(),columns=['Canton']))

170

## Handling Authors

Getting distinct authors only, I assume if they have the same # of followers, following and gender they are the same person.

In [17]:
df_author.shape[0]

795026

In [18]:
df_author.drop_duplicates(['num_followers', 'num_following', 'gender'], inplace=True) # only the authors

Need a notion of sample size, has to be significant. Need to remove outliers for num_followers

In [19]:
df_author = df_author.groupby(['canton','gender','language','time_of_day','month'], as_index=False).mean()

In [20]:
sentiment_map = {'NEUTRAL': 0, 'POSITIVE':1, 'NEGATIVE':-1}
# df['sentiment_val'] = 
df['sentiment'] = df.sentiment.map(sentiment_map)

In [21]:
df_user = df.groupby(['canton','gender','language','time_of_day','month'], as_index=False).mean()

In [22]:
df_final = df_user.merge(df_author,on=['canton','gender','language','time_of_day','month'])

In [23]:
df_final.shape[0]

778

### Evaluating the goodness of the conditions
We want to make sure there is enough in each category. We want to minimize the # of 0 sentiments.

In [24]:
df_final[df_final['sentiment'] == 0].shape[0] # sentiment = 0 means

366

## Final DF

* canton, gender, language, time of day, month are things we want to filter by
* sentiment, num mentions, num followers, and num_following are all averages for those specified categories. For num_followers and num_followings, it only averages the unique tweet authors. Sentiment and num mentions are averages over all tweets in those filters.

### Future work
* This dataframe needs the cantons to be reduced
* Then, we also want to make sure there is enough tweets for each category

Stuff still left to do:
* map geo_state to cantons, currently there are 170 distinct "cantons", need to use Google Maps API to map it to 26 cantons.

Plan:
* get July to October for all geo_states and then use Google Maps to get a mapping from geo_states to cantons.
* map location to geo_states to cantons for January to June.

Spark/cluster work:
* January gender needs to be fixed
* Aug, Sept for gender isn't there...

In [25]:
df_final

,canton,gender,language,time_of_day,month,sentiment,num_mentions,num_followers,num_following
0,Aargau,FEMALE,de,Day,7,0.064516,0.917051,807.875000,356.625000
1,Aargau,FEMALE,de,Night,7,0.031250,0.750000,482.571429,375.000000
2,Aargau,FEMALE,en,Day,7,0.228330,0.463002,1598.235294,394.882353
3,Aargau,FEMALE,en,Night,7,0.116022,0.638122,659.629630,603.148148
4,Aargau,FEMALE,es,Day,7,0.000000,0.538462,156.500000,81.500000
5,Aargau,FEMALE,es,Night,7,0.000000,0.510791,1293.333333,530.666667
6,Aargau,FEMALE,et,Day,7,0.000000,0.000000,1960.000000,599.000000
7,Aargau,FEMALE,fr,Night,7,0.000000,1.200000,1958.000000,599.000000
8,Aargau,FEMALE,in,Day,7,0.000000,0.000000,1795.500000,472.000000
9,Aargau,FEMALE,in,Night,7,0.000000,0.000000,308.000000,271.000000
10,Aargau,FEMALE,no,Day,7,0.000000,0.000000,1571.000000,613.000000
11,Aargau,FEMALE,pt,Day,7,0.000000,0.333333,231.000000,393.000000
12,Aargau,MALE,de,Day,7,0.059289,0.521739,555.324324,392.567568
13,Aargau,MALE,de,Night,7,0.066667,0.657143,525.272727,446.454545
14,Aargau,MALE,en,Day,7,0.168317,0.492221,1806.641026,429.435897
15,Aargau,MALE,en,Night,7,0.175926,0.466667,385.962264,346.735849
16,Aargau,MALE,es,Day,7,-0.052632,0.947368,215.666667,188.333333
17,Aargau,MALE,es,Night,7,0.000000,0.741935,87.333333,142.000000
18,Aargau,MALE,in,Day,7,0.000000,0.166667,220.000000,529.500000
19,Aargau,MALE,in,Night,7,0.000000,0.000000,3765.000000,1053.000000
20,Aargau,MALE,lt,Day,7,0.000000,0.000000,1842.000000,1900.000000
21,Aargau,MALE,nl,Day,7,0.000000,0.000000,653.000000,1285.000000
22,Aargau,UNKNOWN,de,Day,7,0.029895,0.463378,1305.291667,316.979167
23,Aargau,UNKNOWN,de,Night,7,0.040573,0.241050,453.062500,360.625000
24,Aargau,UNKNOWN,en,Day,7,0.140780,0.283498,1648.854839,516.448387
25,Aargau,UNKNOWN,en,Night,7,0.129681,0.191003,692.023256,553.813953
26,Aargau,UNKNOWN,es,Day,7,0.008547,0.367521,545.777778,395.444444
27,Aargau,UNKNOWN,es,Night,7,0.003401,0.455782,650.111111,604.444444
28,Aargau,UNKNOWN,fr,Day,7,0.000000,0.392157,293.333333,115.000000
29,Aargau,UNKNOWN,fr,Night,7,0.000000,0.450000,353.000000,835.500000
...,...,...,...,...,...,...,...,...,...
748,Zurich,UNKNOWN,in,Day,7,0.310345,0.068966,1680.000000,1201.000000
749,Zurich,UNKNOWN,it,Day,7,0.000000,0.410256,5539.000000,372.000000
750,Zurich,UNKNOWN,ja,Day,7,0.200000,0.100000,755.000000,1949.000000
751,Zurich,UNKNOWN,nl,Day,7,0.476190,0.095238,164.500000,176.000000
752,Zurich,UNKNOWN,pl,Night,7,0.500000,0.000000,247.000000,307.000000
753,Zurich,UNKNOWN,pt,Day,7,0.051282,0.487179,859.500000,1191.000000
754,Zurich,UNKNOWN,pt,Night,7,0.032258,0.129032,765.500000,772.500000
755,Zurich,UNKNOWN,ru,Day,7,0.027027,0.513514,1394.500000,225.000000
756,Zurich,UNKNOWN,ru,Night,7,0.000000,0.555556,35.000000,58.000000
757,Zurich,UNKNOWN,tl,Day,7,0.000000,0.312500,145.000000,349.000000
758,Zurich,UNKNOWN,tr,Day,7,0.000000,0.333333,11767.333333,7697.666667
759,Zurich,UNKNOWN,tr,Night,7,0.066667,0.533333,1826.333333,900.000000
760,null,FEMALE,en,Day,7,0.193326,0.533369,451.880137,403.900685
761,null,FEMALE,en,Night,7,0.176115,0.484366,752.731844,509.279330
762,null,FEMALE,es,Day,7,0.007444,0.485112,296.400000,347.650000
763,null,FEMALE,es,Night,7,0.000451,0.397291,194.882353,335.000000
764,null,FEMALE,fr,Day,7,0.016296,0.720000,3046.606061,457.454545
765,null,FEMALE,fr,Night,7,0.007313,0.645338,222.571429,365.642857
766,null,MALE,en,Day,7,0.152539,0.579245,2097.932292,343.406250
767,null,MALE,en,Night,7,0.127295,0.583843,530.573201,494.138958
768,null,MALE,es,Day,7,0.009083,0.630336,300.481481,357.000000
769,null,MALE,es,Night,7,0.008193,0.492945,265.285714,427.107143
770,null,MALE,fr,Day,7,0.022346,0.781192,262.677419,272.032258
771,null,MALE,fr,Night,7,0.030189,0.756604,170.500000,255.050000
772,null,UNKNOWN,en,Day,7,0.193463,0.510788,3406.365314,508.407749
773,null,UNKNOWN,en,Night,7,0.174826,0.485696,1118.414376,446.989429
774,null,UNKNOWN,es,Day,7,0.008155,0.372324,674.584906,440.830189
775,null,UNKNOWN,es,Night,7,0.005489,0.441102,2239.023810,1854.238095
776,null,UNKNOWN,fr,Day,7,0.023126,0.537064,543.718750,424.993750
777,null,UNKNOWN,fr,Night,7,0.031012,0.627546,3437.361702,1943.638298

## creating the Canton Map

In [28]:
canton_mapping = orig_df[['canton','location']].dropna().drop_duplicates()

In [30]:
canton_mapping.head(10)

          canton      location
56        Zurich       Sissach
57     Solothurn        SuÃ¯ssa
58        Valais       Conthey
59  Schaffhausen  Schaffhausen
64       Thurgau    Winterthur
68          Bern   Biel/Bienne
70          Bern          Thun
71        Zurich    Winterthur
72        Zurich         Baden
74       Lucerne        Luzern

## Find Sentiment Patterns

In [ ]:
sent_map = {'NEUTRAL': 0, 'POSITIVE':1, 'NEGATIVE':-1}
df['Sentiment_Val'] = df['sentiment'].replace(sent_map)

df_viz = pd.DataFrame(df.groupby('language').mean()['Sentiment_Val'])
df_viz.reset_index(inplace=1) 
df_viz.columns = ['language', 'Sentiment_Val']

In [ ]:
df_viz

If you want to, you can save the full df as one big parquet file. upload it to your cluster home, and load it and use pandas

In [ ]:
# of followers, # of followings, # of retweets

In [ ]:
for i in range(1000):
    print(df.main[i])